name: "SDK unit tests and lint"

on:
  workflow_dispatch:
    inputs:
      debug:
        description: "Enable debug option"
        type: boolean
        required: false
        default: false
  workflow_call:
    inputs:
      debug:
        type: boolean
        required: false
        default: false

jobs:

  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3


      - name: input value
        run: echo "${{github.event.inputs.debug}} ;; ${{inputs.debug}}"

      - name: run test
        if: ${{ github.event.inputs.debug == 'false' || inputs.debug == 'false'}}
        run: echo "RUN normal"
      
      - name: run test (DEBUG)
        if: ${{ github.event.inputs.debug == 'true' || inputs.debug == 'true' }}
        run: echo "RUN with DEBUG"
    




